# Arquivos do ambiente virtual
venv/
env/
*.pyc
*.pyo
__pycache__/

# Configurações do banco de dados SQLite
db.sqlite3
*.sqlite3

# Configurações locais e variáveis de ambiente
.env
settings_local.py

# Migrations desnecessárias
migrations/