<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Apolux{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

        {% include "navbar.html" %}

        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    <!-- MODAL PARA EDITAR STATUS -->
    <div class="modal fade" id="modalEditarStatus" tabindex="-1" aria-labelledby="modalEditarStatusLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarStatusLabel">Editar Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-status-id">  <!-- Armazena o ID do status -->
                    <label for="edit-status-name" class="form-label">Novo Nome:</label>
                    <input type="text" class="form-control" id="edit-status-name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="salvarEdicao">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMAR EXCLUSÃO DE STATUS -->
    <div class="modal fade" id="modalExcluirStatus" tabindex="-1" aria-labelledby="modalExcluirStatusLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalExcluirStatusLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza de que deseja excluir este status?</p>
                    <input type="hidden" id="delete-status-id">  <!-- Armazena o ID do status -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarExclusao">Excluir</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------- -->

    <!-- MODAL PARA EDITAR TAGS  -->
    <div class="modal fade" id="modalEditarTag" tabindex="-1" aria-labelledby="modalEditarTagLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarTagLabel">Editar Tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-tag-id">  <!-- Armazena o ID do status -->
                    <label for="edit-tag-name" class="form-label">Novo Nome:</label>
                    <input type="text" class="form-control" id="edit-tag-name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="salvarEdicaoTag">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMAR EXCLUSÃO DE TAG -->
    <div class="modal fade" id="modalExcluirTag" tabindex="-1" aria-labelledby="modalExcluirTagLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white"">
                    <h5 class="modal-title" id="modalExcluirTagLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza de que deseja excluir esta tag?</p>
                    <input type="hidden" id="delete-tag-id">  <!-- Armazena o ID da tag -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmarExclusaoTag">Excluir</button>
                </div>
            </div>
        </div>
    </div>



    <!-- MODAL DE NOTIFICAÇÃO DO SALVAMENTO GERAL -->
    <div class="modal fade" id="modalNotificacao" tabindex="-1" aria-labelledby="modalNotificacaoLabel" aria-hidden="true" data-bs-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNotificacaoLabel">Notificação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body" id="modalNotificacaoMensagem">
                    <!-- A mensagem será inserida aqui pelo JavaScript -->
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------- -->

    <!-- Modal Global para Confirmação de edicao de produtos -->
    <div class="modal fade" id="confirmarEdicaoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmação de Edição</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja fazer alteração neste produto?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="confirmarEdicaoBtn">Sim</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para controlar o modal de edicao de produtos -->
    <script>
        function confirmarEdicao(id, codigo, descricao, ncm, unidade, preco, observacoes) {
            // Exibir o modal de confirmação
            const modal = new bootstrap.Modal(document.getElementById('confirmarEdicaoModal'));
            modal.show();

            // Quando o usuário clicar em "Sim", preenche os campos do formulário
            document.getElementById('confirmarEdicaoBtn').onclick = function () {
                document.getElementById('id_produto_id').value = id;
                document.getElementById('id_codigo').value = codigo;
                document.getElementById('id_descricao').value = descricao;
                document.getElementById('id_ncm').value = ncm;
                document.getElementById('id_unidade').value = unidade;
                document.getElementById('id_preco').value = preco;
                document.getElementById('id_observacoes').value = observacoes;

                modal.hide(); // Fecha o modal após preencher os campos
            };
        }
    </script>

    <!-- Modal Global de Sucesso do produto -->
    <div class="modal fade" id="sucessoModal" tabindex="-1" aria-labelledby="sucessoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="sucessoModalLabel">Sucesso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Produto salvo com sucesso! ✅
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para exibir o modal automaticamente do produto  -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Verifica se a página contém a flag de sucesso
            if (sessionStorage.getItem("produtoSalvo")) {
                sessionStorage.removeItem("produtoSalvo");  // Remove para evitar que exiba ao recarregar a página
                const sucessoModal = new bootstrap.Modal(document.getElementById('sucessoModal'));
                sucessoModal.show();
            }
        });

        function setSuccessFlag() {
            sessionStorage.setItem("produtoSalvo", "true");  // Marca que o produto foi salvo com sucesso
        }
    </script>

<!-- Modal Global para Confirmação de Exclusão de Produto  -->
<div class="modal fade" id="confirmarExclusaoModal" tabindex="-1" aria-labelledby="confirmarExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmarExclusaoLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja excluir este produto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger" id="confirmarExclusaoBtn">Sim, Excluir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Global para Confirmação de Exclusão de Produto  -->
 
<script>
    let produtoIdParaExcluir = null;

    function confirmarExclusao(id) {
        produtoIdParaExcluir = id;
        const modal = new bootstrap.Modal(document.getElementById('confirmarExclusaoModal'));
        modal.show();

        document.getElementById('confirmarExclusaoBtn').onclick = function () {
            window.location.href = `/excluir_produto/${produtoIdParaExcluir}/`; // Redireciona para a URL de exclusão
        };
    }
</script>

<!-- Script para a busca de produtos , tags e status-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function buscarRegistro(inputId, botaoId, urlBase) {
            const input = document.getElementById(inputId);
            const botao = document.getElementById(botaoId);

            if (botao) {
                botao.addEventListener("click", function (event) {
                    event.preventDefault();
                    const termoBusca = input.value.trim();
                    window.location.href = `${urlBase}?q=${encodeURIComponent(termoBusca)}`;
                });
            }
        }

        // Buscar Tags
        buscarRegistro("inputBuscaTags", "botaoBuscarTags", "{% url 'cadastro_tags' %}");
        
        // Buscar Status
        buscarRegistro("inputBuscaStatus", "botaoBuscarStatus", "{% url 'cadastro_status' %}");

        // Buscar Produtos
        buscarRegistro("inputBuscaProduto", "botaoBuscarProduto", "{% url 'cadastro_produto' %}");
    });
</script>


<!-- Modal de Confirmação de Edição de OBRA -->
 <div class="modal fade" id="modalConfirmarEdicaoObra" tabindex="-1" aria-labelledby="modalConfirmarEdicaoObraLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-warning">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmarEdicaoObraLabel">Confirmar Edição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          Deseja editar esta obra?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" id="confirmarEdicaoObraBtn">Sim, editar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal de Confirmação de Exclusão DE OBRA  -->
  <div class="modal fade" id="modalConfirmarExclusaoObra" tabindex="-1" aria-labelledby="modalConfirmarExclusaoObraLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-danger">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmarExclusaoObraLabel">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir esta obra?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form id="formExcluirObra" method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, excluir</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL DE EDIÇÃO DE CONTATO -->
<div class="modal fade" id="modalEditarContato" tabindex="-1">
    <div class="modal-dialog"><div class="modal-content p-3">
      <div class="modal-header"><h5 class="modal-title">Editar Contato</h5></div>
      <div class="modal-body">
          <input type="hidden" id="edit-contato-id">
          <div class="mb-2"><input type="text" id="edit-contato-nome" class="form-control" placeholder="Nome"></div>
          <div class="mb-2"><input type="text" id="edit-contato-telefone1" class="form-control" placeholder="Telefone 1"></div>
          <div class="mb-2"><input type="text" id="edit-contato-telefone2" class="form-control" placeholder="Telefone 2"></div>
          <div class="mb-2"><input type="email" id="edit-contato-email" class="form-control" placeholder="Email"></div>
          <div class="mb-2"><textarea id="edit-contato-observacoes" class="form-control" rows="2" placeholder="Observações"></textarea></div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-success" id="salvarEdicaoContato">Salvar</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div></div>
</div>
  
  <!-- MODAL DE CONFIRMAÇÃO DE EXCLUSÃO DE CONTATO -->
  <div class="modal fade" id="modalExcluirContato" tabindex="-1">
    <div class="modal-dialog"><div class="modal-content">
      <div class="modal-header"><h5 class="modal-title">Confirmar exclusão</h5></div>
      <div class="modal-body">Tem certeza que deseja excluir este contato?</div>
      <div class="modal-footer">
          <button class="btn btn-danger" id="confirmarExclusaoContato">Excluir</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div></div>
  </div>
  
  <!-- MODAL DE NOTIFICAÇÃO -->
  <div class="modal fade" id="modalNotificacao" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content border-success p-3">
          <h5 id="modalNotificacaoLabel" class="mb-2">Sucesso!</h5>
          <div id="modalNotificacaoMensagem">Ação realizada com sucesso.</div>
      </div>
    </div>
  </div>

  <!-- MODAL DE SUCESSO AO SALVAR CONTATOS -->
<div class="modal fade" id="modalSucessoContato" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Sucesso</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
  
        <div class="modal-body d-flex align-items-center">
          <span>Cadastro salvo com sucesso! ✅</span>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
  
      </div>
    </div>
</div>

<!-- MODAL DE CONFIRMAÇÃO DE EDIÇÃO DE CONTATOS -->
<div class="modal fade" id="modalConfirmarEdicaoContato" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header bg-warning">
          <h5 class="modal-title">Confirmar Edição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
  
        <div class="modal-body">
          Você deseja editar este contato?
        </div>
  
        <div class="modal-footer">
          <button class="btn btn-primary" id="confirmarEdicaoContatoBtn">Sim, editar</button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
  
      </div>
    </div>
</div>
  
  
  
</body>




